@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Tinos&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #144272;
  /* background: #000428; 
  background: -webkit-linear-gradient(to right, #004e92, #000428); 
  background: linear-gradient(to right, #004e92, #000428); */
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 78px;
}
.sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
/* .sidebar .logo-details i {
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
} */
.sidebar .logo-details .logo_name {
  /* padding-left: 78px; */
  /* text-align: center; */
  width: 100%;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links {
  height: 100%;
  padding: 0 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links {
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
  background: #0A2647;
}
.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .icon-link {
  display: block;
}
.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow {
  display: none;
}
.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu {
  padding: 6px;
  margin-top: -10px;
  background: #0A2647;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}
.sidebar .nav-links li.showMenu .sub-menu li{
  width: 100%;
  /* padding-left: 40px; */
}
.sidebar .nav-links li.showMenu .sub-menu li a{
  padding-left: 70px;
}
.sidebar .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  /* white-space: nowrap; */
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
  background-color: #144272;
}
.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details {
  background: none;
}
.sidebar.close .profile-details {
  width: 78px;
}
.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}
.sidebar .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img {
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}
.sidebar .profile-details .job {
  font-size: 12px;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh !important;
  left: 257px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  overflow-y: auto;
}
.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
}
/* Button font weight */
button {
  font-weight: bold !important;
}
/* ...... */


/* General Setup CSS */
.general-setup-container {
  height: 650px;
  max-height: 650px;
}

.general-setup-row {
  position: relative;
}

.general-setup-container .general-setup-navbar-col {
  margin-left: 12px;
  margin-top: 10px;
  /* padding-left: 10px !important; */
}
.general-setup-navbar-col .nav-pills .nav-link {
  color: #000;
}

.general-setup-navbar-col .nav-pills .nav-link.active,
.general-setup-navbar-col .nav-pills .show > .nav-link {
  color: black !important;
  background-color: white !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.general-setup-navbar-col {
  height: 640px;
  max-height: 640px;
  position: relative;
  overflow-y: auto;
  direction: rtl;
}

.general-setup-col {
  height: 650px;
  max-height: 650px;
  position: relative;
  border-radius: 5px;
  margin-right: 12px;
  background-color: white;
}
/* ...... */

/* HRIS Setup CSS */
.hris-setup-container {
  height: 650px;
  max-height: 650px;
}

.hris-setup-row {
  /* height: 650px;
  max-height: 650px; */
  position: relative;
  /* overflow-y: auto; */
}

.hris-setup-container .hris-setup-navbar-col {
  margin-left: 12px;
  margin-top: 10px;
  /* padding-left: 10px !important; */
}
.hris-setup-navbar-col .nav-pills .nav-link {
  color: #000;
}

.hris-setup-navbar-col .nav-pills .nav-link.active,
.hris-setup-navbar-col .nav-pills .show > .nav-link {
  color: black !important;
  background-color: white !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hris-setup-navbar-col {
  height: 640px;
  max-height: 640px;
  position: relative;
  overflow-y: auto;
  direction: rtl;
}

.hris-setup-col {
  height: 650px;
  max-height: 650px;
  position: relative;
  border-radius: 5px;
  margin-right: 12px;
  background-color: white;
}
/* ...... */



/* Custom Scroll Bar */


 #custom-scroll::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #F5F5F5;
   border-radius: 10px;
 }
 
 #custom-scroll::-webkit-scrollbar
 {
   width: 10px;
   background-color: #F5F5F5;
 }
 
 #custom-scroll::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-image: -webkit-gradient(linear,
                      left bottom,
                      left top,
                      color-stop(0.44, rgb(122,153,217)),
                      color-stop(0.72, rgb(73,125,189)),
                      color-stop(0.86, rgb(28,58,148)));
 }
 
/* ...... */



.top-navbar-bg {
  background-color: white;
  padding: 10px;
  z-index: 10;
}

/* .main-bg {
  background: #e4e9f7;
} */


/*naps additional for sidebar manipulation*/

.navHeadersBg{
  background: #0A2647;
}

.forPageNameBg{
  background: #144272;
}